@page
@using DidacticalEnigma.Mem.DatabaseModels
@using DidacticalEnigma.Mem.Extensions
@using DidacticalEnigma.Mem.Translation.IoModels
@using Microsoft.AspNetCore.Identity
@model ProjectModel
@{
    ViewData["Title"] = Model.ProjectTitle;
}

<div>
    <h2>@Model.ProjectTitle</h2>
    @if (Model.Project != null)
    {
        <div class="row">
            <div class="col-md-5">
                <section>
                    @if (Model.IsContributor)
                    {
                        <i>Project owner: @Model.Project.Owner</i>
                        <br/>
                    }
                    @{
                        var contributors = Model.Project.Contributors ?? Array.Empty<string>();
                        var untranslatedLines = Model.Project.UntranslatedLines;
                        var hasUntranslatedLines = untranslatedLines.Count != 0;
                        var hasOtherContributors = contributors.Count != 0;
                        if (hasOtherContributors)
                        {
                            <i>Contributors: @string.Join(", ", contributors)</i>
                        }
                    }

                    <p>Untranslated lines remaining: @Model.Project.TotalUntranslatedLines</p>

                    @await Html.PartialAsync("Shared/_TranslationsBox", Model.RecentlyAdded)

                    @if (hasUntranslatedLines)
                    {
                        <p>Untranslated lines:</p>
                        @await Html.PartialAsync("Shared/_TranslationsBox", Model.Untranslated)
                    }
                    @if (Model.Project.Owner == Request.GetUserName())
                    {
                        <section>
                            <form id="contributor-invitation" method="post">
                                <input type="hidden" name="action" value="invitation"/>
                                <input type="hidden" name="project" value="@Model.Project.ProjectName"/>
                                <input type="hidden" name="search" value="@Model.SearchText"/>
                                <div class="form-floating">
                                    <input id="search-box" name="invited" class="form-control" aria-required="true"/>
                                    <label for="search-box" class="form-label">User to invite</label>
                                    <span class="text-danger">@Model.InviteError</span>
                                    <span class="text-success">@Model.InviteMessage</span>
                                </div>
                                <div>
                                    <button type="submit" class="w-100 btn btn-lg btn-primary">Send an invitation</button>
                                </div>
                            </form>
                        </section>
                    }
                </section>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <section>
                    <form id="search-form" method="get">
                        <input type="hidden" name="project" value="@Model.Project.ProjectName"/>
                        <div class="form-floating">
                            <input id="search-box" name="search" class="form-control" aria-required="true" value="@Model.SearchText"/>
                            <label for="search-box" class="form-label">Query text</label>
                        </div>
                        <div>
                            <button type="submit" class="w-100 btn btn-lg btn-primary">Search</button>
                        </div>
                    </form>
                    
                    @await Html.PartialAsync("Shared/_TranslationsBox", Model.Translations)
                </section>
            </div>
        </div>
    }
</div>