@page
@using DidacticalEnigma.Mem.DatabaseModels
@using DidacticalEnigma.Mem.Extensions
@using DidacticalEnigma.Mem.Translation.IoModels
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TranslationModel
@{
    ViewData["Title"] = Model.PageTitle;
}

@if (Model.Translation != null)
{
    <div class="row">
        <div class="col-md-4">
            <section>
                <h2><a asp-area="" asp-page="/Project" asp-route-project="@Model.Translation.ProjectName">@Model.ProjectTitle</a></h2>
                @Model.Translation.CorrelationId
                <p class="multiline">@Model.Translation.Source</p>

                <p class="multiline">@Model.Translation.Target</p>

                <p><i>Category: </i>@Model.Translation.Category</p>

                <ul>
                    @foreach (var note in Model.Translation.TranslationNotes?.Normal ?? Array.Empty<IoNormalNote>())
                    {
                        <li>@note.SideText : @note.Text</li>
                    }
                </ul>

                <ul>
                    @foreach (var note in Model.Translation.TranslationNotes?.Gloss ?? Array.Empty<IoGlossNote>())
                    {
                        <li>@note.Foreign : @note.Explanation</li>
                    }
                </ul>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                @if (Model.Context?.HasData == true &&
                     MimeExtensions.IsImage(Model.Context?.MediaType))
                {
                    <img class="img-fluid" alt="Image Context for @Model.Context?.CorrelationId" src="@Model.ContextDataLink"/>
                }
            </section>
        </div>
    </div>
}
else
{
    <h2>Translation not found</h2>
}