@page
@using DidacticalEnigma.Mem.DatabaseModels
@using DidacticalEnigma.Mem.Extensions
@using DidacticalEnigma.Mem.Translation.IoModels
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TranslationModel
@{
    ViewData["Title"] = Model.PageTitle;
}

<div class="row">
    <div class="col-md-4">
        <section>
            <h2><a asp-area="" asp-page="/Project" asp-route-project="@Model.RequestedProjectName">@Model.RequestedProjectName</a></h2>
            @foreach (var component in @Model.CorrelationIdComponents)
            {
                {@("/")<a asp-area="" asp-page="/Translation" asp-route-project="@Model.RequestedProjectName" asp-route-translation="@component.Value">@component.Key</a>}
            }

            @if (Model.Translation != null)
            {
                <p class="multiline">@Model.Translation.Source</p>

                <p class="multiline">@Model.Translation.Target</p>

                <p><i>Category: </i>@Model.Translation.Category</p>

                <ul>
                    @foreach (var note in Model.Translation.TranslationNotes?.Normal ?? Array.Empty<IoNormalNote>())
                    {
                        <li>@note.SideText : @note.Text</li>
                    }
                </ul>

                <ul>
                    @foreach (var note in Model.Translation.TranslationNotes?.Gloss ?? Array.Empty<IoGlossNote>())
                    {
                        <li>@note.Foreign : @note.Explanation</li>
                    }
                </ul>
            }

            @await Html.PartialAsync("Shared/_TranslationsBox", Model.Children)

            @if (Model.PaginationToken != null)
            {
                <a asp-area="" asp-page="/Translation" asp-route-project="@Model.RequestedProjectName" asp-route-translation="@Model.RequestedTranslation" asp-route-paginationToken="@Model.PaginationToken">More</a>
            }
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            @if (Model.Context?.HasData == true &&
                 MimeExtensions.IsImage(Model.Context?.MediaType))
            {
                <img class="img-fluid" alt="Image Context for @Model.Context?.CorrelationId" src="@Model.ContextDataLink"/>
            }
        </section>
    </div>
</div>